/* Day 14 */

#day14 {
  display: none;
  text-align: center;
  margin: 10px;
}

#day14visualization {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  width: 1010px;
}

#day14subtitle {
  font-weight: bold;
}

.day14row {
  display: flex;
  height: 10px;
  margin: auto;
}

.day14cell {
  width: 10px;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}
