#day8,
#day11,
#day17 {
  display: none;
  text-align: center;
  margin: 10px;
}

#day8visualization,
#day11visualization,
#day17visualization {
  border: 1px solid black;
  margin: auto;
  margin-top: 10px;
}

.day8row,
.day11row,
.day17row {
  display: flex;
  height: 10px;
  margin: auto;
}

#day8visualization,
.day8row {
  width: 250px;
}

#day11visualization .day11row {
  width: 430px;
}

#day17visualization .day17row {
  width: 600px;
}

.day8cell,
.day11cell,
.day17cell {
  width: 10px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}
