#day8visualization {
  visibility: hidden;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
}

.day8row {
  display: flex;
  height: 10px;
  margin: auto;
}

.day8cell {
  width: 10px;
  text-align: center;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}
