h2 {
  text-align: center;
}

.yearLinks {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

#puzzles {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;
}

.puzzle {
  background: #2196f3a3;
  border: 2px solid blue;
  padding: 5px;
  text-align: center;
}

.dayTitle {
  font-weight: bold;
}

/* Day 20 */

#day20 {
  display: none;
  text-align: center;
  margin: 10px;
}

#day20visualization {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  width: 960px;
}

#day20subtitle {
  font-weight: bold;
}

.day20row {
  display: flex;
  height: 10px;
  margin: auto;
}

.day20cell {
  width: 10px;
}


.black {
  background-color: black;
}

.red {
  background-color: red;
}

