h2 {
  text-align: center;
}

.yearLinks {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

#puzzles {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;
}

.puzzle {
  background: #2196f3a3;
  border: 2px solid blue;
  padding: 5px;
  text-align: center;
}

.dayTitle {
  font-weight: bold;
}

#day9visualization {
  visibility: hidden;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  width: 960px;
}

.day9row {
  display: flex;
  height: 10px;
  margin: auto;
}

.day9cell {
  width: 10px;
  font-size: 8px;
  text-align: center;
}

.black {
  background-color: black;
  color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellowgreen;
}
