#day9visualization {
  visibility: hidden;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  width: 960px;
}

.day9row {
  display: flex;
  height: 10px;
  margin: auto;
}

.day9cell {
  width: 10px;
  font-size: 8px;
  text-align: center;
}

#day13visualization {
  visibility: hidden;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
}

.day13row {
  display: flex;
  height: 15px;
  margin: auto;
}

.day13cell {
  width: 15px;
}

.black {
  background-color: black;
  color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellowgreen;
}
